.App {
  text-align: center;
}

.App-logo {
  height: 40px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
nav {
  width: 100vw;
  background-color: rgb(213, 174, 213);
  color: blue;
  font-size: 25px;

}
nav ul {
  display: flex;
  flex-direction: row;
  justify-content: left;
}
nav ul li {
  list-style-type: none;
  margin-right: 1em;
}
nav ul li:hover {
  color: black;
}
nav ul li:active {
  color: white;
  text-decoration-line: underline;
}

#LogInForm {
  border: dotted white 3px;
  padding: 1em;
  border-radius: 10px;
  background-color: #394251;
  width: 50vw;
  justify-content: center;
}
button {
  color: white;
  background-color: rgb(35, 35, 122);
}
button:active {
  background-color: white;
  color: black;
}